/*------------------GERAL------------------*/
*, *::before,*::after {
    margin: 0;
    padding: 0; 
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 60%;
}

body {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    background-color: #F0F2F5;
    color: #fff;
    z-index: 1;
}

img {
    max-width: 100%;
}

h1 {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 20px;
}
.container-md {
    max-width: 0rem;
    padding: 15px 0 0 20px;
}

@media only screen and (max-width: 1200px) {
  .container {
        padding: 0 3rem;
  }
  .container-md {
        padding: 0 3rem;
  }
}

/*------------------HEADER------------------*/
.header {
    padding: 1.6rem 3rem 1.6rem 0;
    background-color:#fff !important ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0.15rem 0.2rem rgba(0, 0, 0.5, 0.2);
    color: #777777;
    z-index: 999;
    display: inline-flex;
}
.home{
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 65px;
    border-radius: 100%;
}
.home:hover{
    background-color: rgba(196, 196, 196, 0.08);
}
.general-header {
    display: block;
    text-align: center;
}
.home-menu{
    display: none;
}
.home-img{
    width: 30px;
    height: 30px;
}
.logo h1 {
    font-size: 1.8rem;
}
.fotoperfil{
    display: block;
}
.img-perfil{
    width: 60px;
    height: 60px;
}
.perfildados{
    display: inline-flex;
    text-align: center;
    align-items: center;
}
.img-edit{
    width:15px;
    height: 15px;
    margin: 0 0 0 2px;
}
#linha-horizontal {
    border: 0.1px solid #777777;
    width: 83%;    
    margin: 8px auto 20px auto;
    display: block;
}
.img-itens{
    width: 21px;
    height: 21px;
    margin: 0 -10px -5px 0px;
}
.header-top {
    display: none;
}
.header-list {
    align-items: center;
    display: inline-flex;
}
.header-item{
    position: initial;
    padding: 5px 5px 6px 5px;
    border-radius: 3%;
    display: inline-block;

}
.header-item:not(:last-child) {
    margin-right: 8rem;
}
.header-item:hover{
    background-color: rgba(196, 196, 196, 0.08);
    text-decoration: none;
}
.header-link{
    font-size: 1.8rem;
}
.header-link:link, .header-link:visited {
    padding: 0.8rem 1rem;
}
.more {
    display: none;
}

@media only screen and (max-width: 768px) {
    body.side::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 1, 0.5);
        z-index: 4;
        box-shadow: 0 0.15rem 0.2rem rgba(0, 0, 0.5, 0.2);
      }
    .main-header.side{
        left: 0;
    }
    .header.side {
        background-color: rgba(0, 0, 0, 0.9);
    }
    .container-md{
        display: none;
    }
    .header{
        padding-left: 28.8px;
    }    
    .home{
        display: none;
    }
    .general-header {
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    .home-menu{
        display: flex;
        padding-right: 40px;
    }
    .perfildados{
        display: none;
    }
    #linha-horizontal{
        display: none;
    }
    .main-header {
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        max-width: 40rem;
        height: 100%;
        background-color: rgb(243, 243, 243);
        transition: all 300ms ease-in-out;
    }
    .header-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color:#fff;
        padding: 1rem 1.5rem;
        box-shadow: 0 0.15rem 0.2rem rgba(0, 0, 0.2, 0.2);
    }
    .header-top .logo {
        color: #777777;
    }
    .header-top .close {
        color: #777777;
        font-size: 4.5rem;
        cursor: pointer;
        height: 105px;
    }
    .header-list {
        flex-direction: column;
        align-items:start;
        padding: 1rem 17% 1rem 2%;
    }
    .header-item{
        margin-top: 15px;
    }
    .header-item:hover{
        background-color: rgb(250, 250, 250);
    } 

    .header .header-link{
        color: #777777; 
    } 
    .more {
        display: block;
        font-size: 4.1rem;
        height: 39px;
        padding-left: 40px;
    }
    .header-item:not(:last-child) {
        margin-right: auto;
    }
    .header-item:last-child {
        margin-right: auto;
    }
}
@media only screen and (max-width: 370px) {
    .header-list {
        padding: 1rem 10% 1rem 2%;
    }
}


/* MAIN : Quadros de seleção */
.sections {
    padding: 24rem 0 0 0;
}
@media only screen and (max-width: 768px){
    .sections {
        padding: 14rem 0 50rem 0;
    }
}
.box {
    position: relative;
    margin-bottom: 30px;
    color: #f8f7f6;
    height: 14rem;
    border-radius: 1rem;
    padding: 1rem;
    z-index: 1;

    background-color: #fff;
    box-shadow: 0 0.4rem 0.3rem rgba(0, 0, 0.5, 0.2);
    cursor: pointer;
    transition: 0.6s;
}
.box:hover {
    box-shadow: 0 0.7rem 0.7rem rgba(0, 0, 1, 0.2);
    transform: translateY(0.2rem);
}
.text-img{
    margin: 0 auto;
    display: block;
}
.imgselect {
    bottom: 0%;
    margin: 42px 3%;
    left: 3%;
    height: 100%;
    width: 25px;
    z-index: -1;
}
.select{
    color: #777777;
    margin: -68px 78px;
}
@media only screen and (max-width: 520px){
    .select{
        margin: -78px 20%;
    }
}
@media only screen and (max-width: 360px){
    .select{
        margin: -88px 20%;
    }
}